
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

html {
  background-color: #1a1b26;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1em;
}

#terminal {
  background-color: rgba(39,39,39,1);
  box-sizing: border-box;
  width: 50vw;
  height: 450px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 1.5em 0em;
}

#terminal-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0em 1.5em;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none
}

/* Hide scrollbar for Chrome, Safari and Opera */
#terminal-content::-webkit-scrollbar {
  display: none;
}

#terminal-content p {
  margin: 0px;
}

/**
* Prompt Styling
*/

.prompt {
  display: flex;
}

#prompt-input {
  background-color: transparent;
  border: none;
  color: var(--fg);
  flex-grow: 1;
  padding: 0.5em;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

#prompt-input:focus {
  outline: none;
}

.prompt-title {
  color: var(--prompt);
  padding: 0.5em 0em;
}

.prompt-cursor {
  color: var(--cursor);
  margin-left: 0.5em;
}

.prompt-text {
  padding: 0.5em;
  flex-grow: 1;
}

/**
* Terminal Output generic styles
*/

.terminal-output {
  margin: 0.5em 0em;
}

.default-list {
  margin: 0px;
  padding: 0em 1em;
}

/**
* LS Command Styling
*/

.ls-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.ls-item {
  padding: 0em 0.5em;
}

.ls-item.directory {
  color: var(--directory);
}

/**
* Tree Command Styling
*/

.tree-list {
  margin: 0px;
  padding: 0em 0em 0em 1.25em;
  list-style: none;
}

.tree-list-item {
  color: var(--fg);
  position: relative;
  padding: 0.25em 0em 0em 0.1em;
}

.tree-list-item::before,
.tree-list-item::after {
  content: "";
  position: absolute;
  left: -0.8rem;
}

.tree-list-item::before {
  border-top: 1px solid var(--tree);
  top: 0.8em;
  width: 0.75em;
}

.tree-list-item::after {
  border-left: 1px solid var(--tree);
  height: 100%;
  top: 0.3em;
}

.tree-list-item:last-child::after {
  /* Create the right angle on the last child */
  height: 0.5em;
}

.tree-list-item.directory {
  color: var(--directory);
}

/**
* Misc Styling
*/

.github-link {
  color: var(--link);
  margin: 1em;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2em;
}


img {
  border: 2px solid #ebdbb2;
  border-radius: 4px;
  width: 200px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fira Code";
  font-size: 40px;
  font-weight: bold;
  padding-top: 60px;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em; /* Adjust spacing between terminal and image */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
